# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/
src/server/generated/**/*

# Build
/npm-debug.log
/dist/*.js
/dist/*.map
/build/*.js
/build/*.map
/build/**/*.js
/build/**/*.map
/build/generated/**/*

# Environment File
.env